@font-face {
  font-family: "Rubic-Black";
  src: url("/assets/font/rubik/Rubik-Black.ttf");
}
@font-face {
  font-family: "Rubic-Bold";
  src: url("/assets/font/rubik/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Rubic-ExtraBold";
  src: url("/assets/font/rubik/Rubik-ExtraBold.ttf");
}
@font-face {
  font-family: "Rubic-Light";
  src: url("/assets/font/rubik/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubic-Medium";
  src: url("/assets/font/rubik/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubic-Regular";
  src: url("/assets/font/rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubic-SemiBold";
  src: url("/assets/font/rubik/Rubik-SemiBold.ttf");
}
@media (max-width: 820px) {
  main section#banner img.hero-image {
    height: 40vh;
    height: 8cm;
  }
  main section#banner h1.main-title {
    font-size: 30px;
    width: 90%;
  }
  main section#banner .content .countdown {
    width: 90%;
  }
  main section#banner .content .countdown .countdown-item {
    font-size: 20px;
    padding: 10px;
  }
  main section#banner .content .persuade h1.title {
    font-size: 50px;
    font-family: "Rubic-Bold";
  }
  main section#banner .content .persuade p.desc {
    font-size: 18px;
  }
  main section#profile {
    flex-direction: column;
  }
  main section#profile .left {
    width: 90%;
  }
  main section#profile .left iframe {
    width: 100%;
    height: 300px;
  }
  main section#profile .right {
    width: 90%;
  }
  main section#profile .right h1.title {
    width: 100%;
    font-size: 28px;
  }
  main section#profile .right p.content {
    width: 100%;
    font-size: 16px;
  }
  main section#program .header {
    width: 93%;
    flex-direction: column;
  }
  main section#program .header h1.title {
    width: 100%;
    font-size: 28px;
  }
  main section#program .header hr.strip {
    width: 100%;
    height: 2px;
  }
  main section#program .header p.desc {
    width: 100%;
    font-size: 16px;
  }
  main section#program .content .card {
    width: 45%;
    height: 11cm;
  }
  main section#program .content .card:nth-child(3), main section#program .content .card:nth-child(4) {
    margin-top: 1cm;
  }
  main section#program .content .card .text {
    padding: 0.3cm 0.5cm;
  }
  main section#program .content .card .text h1.title {
    font-size: 20px;
  }
  main section#program .content .card .text p {
    font-size: 16px;
  }
  main section#news {
    padding: 0.1cm;
    padding-bottom: 2cm;
  }
  main section#news .header {
    width: 93%;
    margin-top: 1cm;
  }
  main section#news .header h1.title {
    font-size: 28px;
  }
  main section#news .header a.btn-more {
    font-size: 24px;
  }
  main section#news .cards .card {
    width: 45%;
    height: 12cm;
    margin-top: 1cm;
  }
  main section#news .cards .card .text h1.title {
    font-size: 18px;
  }
  main section#news .cards .card .text p.content {
    font-size: 14px;
  }
  main section#event .left {
    width: 100%;
    padding: 1.5cm;
  }
  main section#event .left .title {
    font-size: 28px;
  }
  main section#event .left p.content {
    width: 100%;
    font-size: 16px;
  }
  main section#event .right {
    width: 90%;
  }
  main section#event .right img.image {
    width: 100%;
  }
  main section#event .right p.desc {
    width: 100%;
    font-size: 22px;
    margin-top: 0.5cm;
  }
  main section#testimoni {
    padding: 2cm 0px;
  }
  main section#testimoni hr.line {
    width: 70%;
  }
  main section#testimoni .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  main section#testimoni .content p.desc {
    width: 100%;
    font-size: 20px;
    padding: 0.8cm;
  }
  main section#testimoni .content img.image {
    width: 60%;
  }
  main section#contact {
    flex-direction: column-reverse;
  }
  main section#contact .left {
    width: 100%;
    height: auto;
    padding: 1.5cm 1cm;
  }
  main section#contact .left h1.title {
    width: 100%;
    font-size: 28px;
  }
  main section#contact .left p.desc {
    width: 100%;
    font-size: 20px;
  }
  main section#contact .left .contents {
    width: 100%;
    margin-top: -0.5cm;
  }
  main section#contact .right {
    width: 100%;
    height: auto;
    padding: 1.5cm 1cm;
  }
  main section#contact .right form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  main section#contact .right form input.input-text,
  main section#contact .right form textarea {
    width: 100%;
  }
  main section#contact .right form .container {
    width: 100%;
  }
  main section#contact .right form .container button.btn-submit {
    width: 50%;
  }
  main section#contact .right form input#first-name {
    width: 49%;
  }
  main section#contact .right form input#last-name {
    width: 49%;
  }
  main section#contact .right form input#email {
    width: 49%;
  }
  main section#contact .right form input#phone {
    width: 49%;
  }
}
@media only screen and (max-width: 512px) {
  main section#banner img.hero-image {
    height: 30vh;
    height: 4cm;
  }
  main section#banner h1.main-title {
    font-size: 24px;
  }
  main section#banner .content .countdown {
    width: 100%;
    flex-direction: column;
  }
  main section#banner .content .countdown .countdown-item {
    width: 100%;
    font-size: 16px;
    margin-top: 0.5cm;
  }
  main section#banner .content .persuade h1.title {
    font-size: 20px;
    font-family: "Rubic-Black";
  }
  main section#banner .content .persuade p.desc {
    font-size: 16px;
  }
  main section#banner .content .persuade a.btn-register {
    font-size: 16px;
    padding: 0.3cm 0.8cm;
  }
  main section#profile {
    padding: 0px;
  }
  main section#profile .left {
    margin-top: 1cm;
  }
  main section#profile .left iframe {
    height: 200px;
  }
  main section#profile .right {
    margin-top: 1cm;
    margin-bottom: 1cm;
  }
  main section#program .header hr.strip {
    margin-top: 0.2cm;
  }
  main section#program .header p.desc {
    font-size: 14px;
    margin-top: 0.2cm;
  }
  main section#program .content .card {
    width: 95%;
    height: 10cm;
    margin-top: 0px;
  }
  main section#program .content .card:not(:first-child) {
    margin-top: 1cm;
  }
  main section#program .content .card .text h1.title {
    font-size: 18px;
  }
  main section#program .content .card .text p {
    font-size: 14px;
  }
  main section#news {
    margin-top: 1cm;
  }
  main section#news .header h1.title {
    font-size: 16px;
  }
  main section#news .header a.btn-more {
    font-size: 16px;
  }
  main section#news .cards {
    margin-top: 0px;
  }
  main section#news .cards .card {
    width: 95%;
    height: auto;
  }
  main section#event .left {
    padding: 0.5cm;
  }
  main section#event .left .title {
    font-size: 24px;
  }
  main section#event .left p.content {
    font-size: 14px;
  }
  main section#event .right p.desc {
    font-size: 20px;
  }
  main section#testimoni h1.title {
    font-size: 25px;
  }
  main section#testimoni hr.line {
    width: 55%;
  }
  main section#testimoni .content {
    width: 95%;
  }
  main section#testimoni .content p.desc {
    padding: 0.5cm;
    font-size: 16px;
  }
  main section#contact .left {
    padding: 1cm 0.5cm;
  }
  main section#contact .left h1.title {
    font-size: 24px;
  }
  main section#contact .left p.desc {
    font-size: 16px;
  }
  main section#contact .right {
    padding: 1cm 0.5cm;
  }
  main section#contact .right form input.input-text::placeholder,
  main section#contact .right form textarea::placeholder {
    font-size: 16px;
  }
  main section#contact .right form .container button.btn-submit {
    font-size: 14px;
  }
}
@media (max-width: 820px) {
  footer {
    padding: 2cm;
    flex-wrap: wrap;
  }
  footer div {
    width: 25%;
    height: 6cm;
  }
  footer div h1 {
    font-size: 1.2rem;
  }
  footer div a {
    font-size: 0.9rem;
    margin-top: 0.3cm;
  }
}
@media (max-width: 480px) {
  footer {
    padding-top: 1.5cm;
  }
  footer div {
    width: 50%;
    height: 5cm;
  }
  footer div h1 {
    font-size: 1rem;
  }
  footer div a {
    font-size: 0.8rem;
    margin-top: 0.2cm;
  }
}/*# sourceMappingURL=responsif.css.map */