@font-face {
    font-family: 'Rubic-Black';
    src: url('/assets/font/rubik/Rubik-Black.ttf');
}
@font-face {
    font-family: 'Rubic-Bold';
    src: url('/assets/font/rubik/Rubik-Bold.ttf');
}
@font-face {
    font-family: 'Rubic-ExtraBold';
    src: url('/assets/font/rubik/Rubik-ExtraBold.ttf');
}
@font-face {
    font-family: 'Rubic-Light';
    src: url('/assets/font/rubik/Rubik-Light.ttf');
}
@font-face {
    font-family: 'Rubic-Medium';
    src: url('/assets/font/rubik/Rubik-Medium.ttf');
}
@font-face {
    font-family: 'Rubic-Regular';
    src: url('/assets/font/rubik/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubic-SemiBold';
    src: url('/assets/font/rubik/Rubik-SemiBold.ttf');
}
$biru : #00256E;
$orange : #F69400;
$rubicBlack : 'Rubic-Black';
$rubicBold : 'Rubic-Bold';
$rubicExtraBold : 'Rubic-ExtraBold';
$rubicLight : 'Rubic-Light';
$rubicMedium : 'Rubic-Medium';
$rubicRegular : 'Rubic-Regular';
$rubicSemibold : 'Rubic-Semibold';
@mixin flexspacebetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@mixin flexevenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
@mixin flexcenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@mixin flexcolumncenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.topnav {
    display: none;
    overflow: hidden;
    background-color: $biru;
    @media (max-width: 820px) {
        display: block;
    }
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
}
.active {
    background-color: $biru;
    color: white;
}
.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: $biru;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;

        .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        a {
            float: none;
            display: block;
            text-align: left;
        }

        .dropdown {
            float: none;
        }

        .dropdown-content {
            position: relative;
        }

        .dropdown .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
    }
}
header{
    width: 100%;
    @media (max-width: 820px) {
        display: none;
    }
    nav{
        width: 100%;
        @include flexspacebetween;
        img{
            width: 15%;
        }
        .items{
            width: 40%;
            @include flexspacebetween;
            a.item{
                text-decoration: none;
                color: $biru;
                font-family: $rubicRegular;
                cursor: pointer;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                top: 7%;
                left: 34.5%;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                a{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
            }
            .dropdown-content2 {
                display: none;
                position: absolute;
                top: 7%;
                left: 57%;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                a{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
            }
        }
        .search{
            width: 20%;
            @include flexspacebetween();
            border-bottom: 1px solid #000;
            margin-right: .5cm;
            input.search-input{
                border: none;
                width: 80%;
                height: 40px;
                outline: none;
            }
        }
    }
}
main{
    section#banner{
        width: 100%;
        @include flexcenter();
        img.hero-image{
            width: 100vw;
            background-color: $biru;
        }
        h1.main-title{
            width: 80%;
            font-size: 40px;
            font-family: $rubicBold;
            color: $biru;
            margin-top: 1cm;
            span.orange{
                color: $orange;
            }
        }
        .content{
            width: 80%;
            @include flexcenter();
            .countdown{
                width: 70%;
                @include flexspacebetween();
                margin-top: 1cm;
                .countdown-item{
                    @include flexcenter();
                    flex-direction: column;
                    border-radius: 10px;
                    font-size: 30px;
                    padding: 20px;
                    background-color: rgb(199, 198, 198);
                    h1.countdown-number{
                        font-family: $rubicBold;
                    }
                    p.countdown-text{
                        font-family: $rubicMedium;
                    }
                }
            }
            .persuade{
                text-align: center;
                font-size: 20px;
                margin-top: 2cm;
                h1.title{
                    font-family: $rubicSemibold;
                    font-size: 80px;
                }
                p.desc{
                    margin-top: .2cm;
                    margin-bottom: 1cm;
                    font-family: $rubicSemibold;
                    font-size: 25px;
                }
                a.btn-register{
                    padding: .5cm 1cm;
                    background-color: $biru;
                    color: white;
                    border-radius: 40px;
                    font-family: $rubicSemibold;
                }
            }
        }
    }
    section#profile{
        background-color: $biru;
        margin-top: 4cm;
        @include flexspacebetween();
        padding: 1cm;
        .left{
            width: 60%;
            @include flexcenter();
            iframe{
                width: 800px;
                height: 400px;
            }
        }
        .right{
            width: 40%;
            h1.title{
                width: 70%;
                color: white;
                font-family: $rubicBold;
                font-size: 35px;
            }
            p.content{
                background-color: $orange;
                width: 70%;
                padding: .6cm .4cm;
                font-family: $rubicRegular;
                color: $biru;
                font-size: 20px;
                border-radius: 20px;
                margin-top: .5cm;
            }
        }
    }
    section#program{
        width: 100%;
        margin-top: 1cm;
        @include flexcenter();
        .header{
            @include flexspacebetween();
            width: 80%;
            h1.title{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                width: 15%;
            }
            hr.strip{
                width: 5px;
                height: 3cm;
                background-color: $biru;
            }
            p.desc{
                width: 70%;
                font-family: $rubicBold;
                font-size: 20px;
                color: $biru;
            }
        }
        .content{
            width: 100%;
            @include flexevenly();
            margin-top: 1cm;
            .card{
                width: 20%;
                height: 11.5cm;
                img.image{
                    width: 100%;
                }
                .text{
                    padding: .5cm;
                    h1.title{
                        font-family: $rubicBold;
                        font-size: 25px;
                    }
                    p{
                        font-family: $rubicMedium;
                        font-size: 20px;
                        padding-left: .3cm;
                        margin-bottom: 1cm;
                    }
                    a.btn-next{
                        padding: .3cm .8cm;
                        background-color: $biru;
                        color: white;
                        border-radius: 40px;
                        font-family: $rubicSemibold;
                        text-decoration: none;
                    }
                }
            }
            .tkjt{
                background-color: $orange;
            }
            .mplb{
                background-color: #F600C0;
            }
            .akl{
                background-color: #3BAC06;
                .text{
                    p{
                        width: 70%;
                    }
                }
            }
            .dkv{
                background-color: #F9E31F;
                .text{
                    p{
                        width: 70%;
                    }
                }
            }
        }
    }
    section#news{
        width: 100%;
        @include flexcenter();
        margin-top: 2cm;
        background-color: #00256E;
        padding: 1cm;
        .header{
            width: 90%;
            @include flexspacebetween();
            h1.title{
                font-size: $rubicBold;
                font-size: 40px;
                color: white;
                border-bottom: 2px solid white;
            }
            a.btn-more{
                color: white;
                font-size: 30px;
                font-family: $rubicSemibold;
            }
        }
        .cards{
            width: 100%;
            @include flexevenly();
            margin-top: 1cm;
            .card{
                width: 18%;
                height: 12cm;
                background-color: white;
                border-radius: 20px;
                img.image{
                    width: 100%;
                }
                .text{
                    padding: .3cm;
                    h1.title{
                        font-family: $rubicBold;
                        text-decoration: underline;
                    }
                    p.content{
                        font-family: $rubicRegular;
                        margin-top: .2cm;
                    }
                }
            }
        }
    }
    section#event{
        width: 100%;
        @include flexcenter();
        .left{
            width: 50%;
            padding: 3cm;
            .title{
                font-family: $rubicBold;
                font-size: 40px;
                color: $biru;
            }
            hr.line{
                width: 60%;
                height: 3px;
                background-color: $biru;
                margin-top: .5cm;
                margin-bottom: .5cm;
            }
            p.content{
                color: $biru;
                font-family: $rubicMedium;
                font-size: 20px;
                width: 70%;
                margin-bottom: 1.5cm;
            }
            a.btn-more{
                padding: .3cm .8cm;
                background-color: $orange;
                color: $biru;
                border-radius: 40px;
                font-family: $rubicSemibold;
                text-decoration: none;
            }
        }
        .right{
            width: 50%;
            margin-top: 1cm;
            img.image{
                width: 70%;
            }
            p.desc{
                color: $biru;
                font-family: $rubicBold;
                font-size: 30px;
                width: 50%;
                margin-bottom: 1.5cm;
            }
        }
    }
    section#testimoni{
        width: 100%;
        @include flexcolumncenter();
        background-color: $biru;
        padding: 2cm;
        h1.title{
            font-family: $rubicBold;
            color: white;
            font-size: 40px;
        }
        hr.line{
            width: 30%;
            height: 4px;
            background-color: white;
            margin-top: .5cm;
        }
        .content{
            width: 80%;
            margin-top: 1cm;
            @include flexspacebetween();
            p.desc{
                width: 50%;
                background-color: $orange;
                font-family: $rubicRegular;
                font-size: 25px;
                padding: 2cm;
                border-radius: 30px;
            }
        }
    }
    section#contact{
        width: 100%;
        @include flexspacebetween();
        .left{
            width: 50%;
            height: 18cm;
            background-color: rgba(0, 0, 0, 0.559); 
            background-image: url('/assets/img/content/contact.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            background-blend-mode: multiply; 
            @include flexcolumncenter();
            h1.title{
                font-family: $rubicBold;
                color: white;
                font-size: 40px;
                width: 50%;
            }
            p.desc{
                font-family: $rubicRegular;
                color: white;
                font-size: 25px;
                width: 50%;
                margin-top: .5cm;
            }
            .contents{
                width: 50%;
                margin-top: 1cm;
                .content{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-top: 1cm;
                    .icon{
                        background-color: $orange;
                        padding: .3cm;
                        width: 1cm;
                        height: 1cm;
                        @include flexcolumncenter();
                        border-radius: 100%;
                    }
                    .fill{
                        p{
                            color: white;
                            font-family: $rubicRegular;
                            padding-left: .3cm;
                            margin-top: .2cm;
                        }
                    }
                }
            }
        }
        .right{
            width: 50%;
            height: 18cm;
            background-color: #D9D9D9;
            padding-top: 3cm;
            form{
                width: 80%;
                @include flexevenly();
                input.input-text{
                    height: 1.2cm;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    margin-top: .5cm;
                    padding-left: .5cm;
                    &::placeholder{
                        font-family: $rubicSemibold;
                        font-size: 20px;
                    }
                }
                input#first-name{
                    width: 40%;
                }
                input#last-name{
                    width: 40%;
                }
                input#email{
                    width: 40%;
                }
                input#phone{
                    width: 40%;
                }
                textarea{
                    width: 86.5%;
                    height: 5cm;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    margin-top: .5cm;
                    padding: .5cm;
                    &::placeholder{
                        font-family: $rubicSemibold;
                        font-size: 20px;
                    }
                }
                .container{
                    width: 86.5%;
                    button.btn-submit{
                        margin-top: .5cm;
                        width: 25%;
                        height: 1.3cm;
                        border: none;
                        outline: none;
                        background-color: $orange;
                        border-radius: 30px;
                        font-family: $rubicBold;
                        color: white;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    section#title{
        width: 100vw;
        height: 12cm;
        background-color: $biru;
        @include flexcenter();
        @media (max-width: 820px) {
            height: 8cm;
        }
        h1{
            font-family: $rubicBold;
            color: white;
            font-size: 40px;
            span.orange{
                color: $orange;
            }
            @media (max-width: 820px) {
                font-size: 30px;
            }
            @media only screen and (max-width: 512px) {
                font-size: 25px;
                margin-left: .3cm;
            }
        }
    }
    section#struktur{
        width: 100%;
        margin: 2cm;
        @media (max-width: 820px) {
            margin: 1cm;
        }
        @media only screen and (max-width: 512px) {
            margin-left: 0px;
            @include flexcolumncenter();
        }
        .title{
            width: 55%;
            @media (max-width: 820px) {
                width: 78%;
            }
            @media only screen and (max-width: 512px) {
                width: 95%;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media (max-width: 820px) {
                    font-size: 25px;
                }
            }
        }
        img{
            width: 90%;
            margin-top: 1cm;
        }
    }
    section#visimisi{
        width: 100vw;
        margin: 2cm;
        overflow-x: hidden;
        @media (max-width: 820px) {
            margin: .5cm;
            margin-top: 2cm;
            margin-bottom: 2cm;
        }
        @media only screen and (max-width: 512px) {
            font-size: 15px;
            margin-left: .2cm;
            margin: 0;
            margin-top: 1cm;
            margin-bottom: 1cm;
        }
        .title{
            width: 21%;
            @media (max-width: 820px) {
                width: 49%;
            }
            @media only screen and (max-width: 512px) {
                width: 65%;
                margin-left: .3cm;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media only screen and (max-width: 512px) {
                    font-size: 25px;
                }
            }
        }
        .text{
            @include flexcolumncenter();
            p{
                width: 70%;
                font-family: $rubicBold;
                font-size: 25px;
                color: $biru;
                margin-top: .5cm;
                @media (max-width: 820px) {
                    width: 95%;
                    font-size: 20px;
                }
                @media only screen and (max-width: 512px) {
                    width: 90%;
                    font-size: 15px;
                }
            }
            p.center{
                text-align: center;
                margin-top: 1cm;
                margin-bottom: 1cm;
            }
        }
    }
    section#alurpendaftaran{
        width: 100%;
        margin: 2cm;
        @media (max-width: 820px) {
            margin: .5cm;
        }
        @media only screen and (max-width: 512px) {
            margin: 0px;
            padding-left: .3cm;
            margin-top: 1cm;
            margin-bottom: 1cm;
        }
        .title{
            width: 100%;
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                margin: 1cm;
                border-bottom: 4px solid $biru;
                width: 23%;
                @media (max-width: 820px) {
                    width: 40%;
                    font-size: 30px;
                }
                @media only screen and (max-width: 512px) {
                    width: 73%;
                    font-size: 25px;
                    margin: 0px;
                }
            }
            .button{
                margin: 1cm;
                @media only screen and (max-width: 512px) {
                    margin: 0px;
                    width: 100%;
                    @include flexcolumncenter();
                }
                a.btn{
                    background-color: $biru;
                    color: white;
                    padding: .5cm 1cm;
                    text-decoration: none;
                    border-radius: 10px;
                    font-family: $rubicBold;
                    @media (max-width: 820px) {
                        width: 40%;
                    }
                    @media only screen and (max-width: 512px) {
                        width: 65%;
                        margin-top: .2cm;
                        padding: .3cm .7cm;
                        align-self: start;
                    }
                }
            }
        }
        img{
            width: 90%;
            margin-top: 1cm;
            @media (max-width: 820px) {
                width: 95%;
            }
        }
    }
    section#fasilitas{
        width: 100%;
        margin-top: 2cm;
        .title{
            margin: 2cm;
            width: 11%;
            @media (max-width: 820px) {
                width: 25%;
                margin: 1cm;
            }
            @media only screen and (max-width: 512px) {
                width: 35%;
                margin-left: .5cm;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media only screen and (max-width: 512px) {
                    font-size: 25px;
                }
            }
        }
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -1.5cm;
            margin-bottom: 2cm;
            .cards{
                width: 80%;
                @media (max-width: 820px) {
                    width: 95%;
                }
                @include flexevenly();
                .card{
                    width: 30%;
                    margin-top: 1.5cm;
                    background-color: $biru;
                    border-radius: 30px;
                    padding-bottom: .5cm;
                    @media only screen and (max-width: 512px) {
                        width: 95%;
                    }
                    img{
                        width: 100%;
                    }
                    p{
                        margin-top: .5cm;
                        text-align: center;
                        color: white;
                        font-family: $rubicRegular;
                        font-size: 30px;
                        @media only screen and (max-width: 512px) {
                            font-size: 18px;
                            font-family: $rubicBold;
                        }
                    }
                }
            }
        }
    }
    section#ekstrakulikuler{
        width: 100%;
        margin-top: 2cm;
        .title{
            margin: 2cm;
            width: 21%;
            @media (max-width: 820px) {
                width: 48%;
            }
            @media only screen and (max-width: 512px) {
                margin: .3cm;
                width: 61%;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media only screen and (max-width: 512px) {
                    font-size: 25px;
                }
            }
        }
        .content{
            width: 100%;
            @include flexcolumncenter();
            margin-bottom: 5cm;
            .items{
                width: 80%;
                @include flexevenly();
                justify-content: flex-start;
                @media only screen and (max-width: 512px) {
                    width: 95%;
                }
                .item{
                    width: 25%;
                    @include flexcolumncenter();
                    margin-top: 1cm;
                    @media only screen and (max-width: 512px) {
                        width: 50%;
                    }
                    img.image{
                        width: 50%;
                    }
                    p.desc{
                        font-family: $rubicSemibold;
                        margin-top: 1cm;
                    }
                }
            }
        }
    }
    section#kontak{
        width: 100%;
        margin-top: 2cm;
        margin-bottom: 2cm;
        .title{
            margin: 2cm;
            width: 22%;
            @media (max-width: 820px) {
                width: 50%;
                font-size: 30px;
            }
            @media only screen and (max-width: 512px) {
                margin: 0px;
                margin-left: .3cm;
                width: 70%;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media only screen and (max-width: 512px) {
                    font-size: 25px;
                }
            }
        }
        .content{
            @include flexcolumncenter();
            .icons{
                @include flexevenly();
                width: 95%;
                margin-bottom: 1cm;
                @media (max-width: 820px) {
                    width: 100%;
                }
                @media only screen and (max-width: 512px) {
                    padding-left: .3cm;
                }
                .icon{
                    @include flexspacebetween();
                    @media (max-width: 820px) {
                        margin-top: 1cm;
                    }
                    @media only screen and (max-width: 512px) {
                        width: 95%;
                    }
                    img.image{
                        width: 20%;
                        @media only screen and (max-width: 512px) {
                            width: 10%;
                        }
                    }
                    p{
                        width: 75%;
                        font-family: $rubicSemibold;
                        font-size: 18px;
                        @media only screen and (max-width: 512px) {
                            width: 85%;
                        }
                    }
                }
                .maps{
                    width: 40%;
                    @media only screen and (max-width: 512px) {
                        width: 100%;
                    }
                    img.image{
                        width: 5%;
                        @media only screen and (max-width: 512px) {
                            width: 8%;
                        }
                    }
                    p{
                        width: 90%;
                        @media only screen and (max-width: 512px) {
                            width: 85%;
                            font-size: 16px;
                        }
                    }
                }
            }
            iframe{
                width: 95% !important;
                height: 7cm !important;
            }
        }
    }
    section#beasiswa{
        width: 100%;
        margin-top: 2cm;
        margin-bottom: 2cm;
        @include flexcolumncenter();
        .title{
            margin: 2cm;
            width: 11.5%;
            @media (max-width: 820px) {
                width: 26%;
                font-size: 30px;
                margin: 1cm;
            }
            @media only screen and (max-width: 512px) {
                margin: 0px;
                width: 34%;
                margin-bottom: 1cm;
                margin-left: .3cm;
                align-self: start;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media only screen and (max-width: 512px) {
                    font-size: 25px;
                }
            }
        }
        .content{
            width: 100%;
            @include flexcolumncenter();
            @media only screen and (max-width: 512px) {
                width: 95%;
                overflow-x: scroll;
            }
            .container{
                width: 92%;
                margin-bottom: 1cm;
                .search{
                    width: 15%;
                    @include flexspacebetween();
                    float: right;
                    @media (max-width: 820px) {
                        width: 35%;
                    }
                    @media only screen and (max-width: 512px) {
                        width: 70%;
                        float: left;
                        align-self: start;
                        margin-left: -25%;
                    }
                    p.desc{
                        color: #93959A;
                        font-family: $rubicRegular;
                    }
                }
            }
            table{
                border-collapse: collapse;
                border-spacing: 0;
                width: 92%;
                border: 1px solid #ddd;
                th, td {
                    text-align: left;
                    padding: 16px;
                    border: 1px solid black;
                }
                th{
                    font-family: $rubicBold;
                }
                td{
                    font-family: $rubicRegular;
                }
                tr:nth-child(even) {
                    background-color: #D9D9D9;
                } 
                td.pendek{
                    width: 2cm;
                }
            }
        }
    }
    section#dataguru{
        width: 100%;
        margin-top: 2cm;
        margin-bottom: 2cm;
        @media only screen and (max-width: 512px) {
            margin-left: 0px;
            @include flexcolumncenter();
        }
        .title{
            margin: 2cm;
            width: 12.5%;
            @media (max-width: 820px) {
                width: 29%;
                margin: 1cm;
            }
            @media only screen and (max-width: 512px) {
                margin-left: 0px;
                width: 38%;
                align-self: start;
                margin-left: .2cm;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media only screen and (max-width: 512px) {
                    font-size: 25px;
                }
            }
        }
        .content{
            width: 100%;
            @include flexcolumncenter();
            @media only screen and (max-width: 512px) {
                width: 95%;
                overflow-x: scroll;
            }
            .container{
                width: 92%;
                margin-bottom: 1cm;
                @media only screen and (max-width: 512px) {
                    @include flexcolumncenter();
                }
                .search{
                    width: 15%;
                    @include flexspacebetween();
                    float: right;
                    @media (max-width: 820px) {
                        width: 35%;
                    }
                    @media only screen and (max-width: 512px) {
                        width: 80%;
                        float: left;
                        align-self: start;
                        margin-left: -42%;
                    }
                    p.desc{
                        color: #93959A;
                        font-family: $rubicRegular;
                    }
                }
            }
            table{
                border-collapse: collapse;
                border-spacing: 0;
                width: 92%;
                border: 1px solid #ddd;
                th, td {
                    text-align: left;
                    padding: 16px;
                    border: 1px solid black;
                }
                th{
                    font-family: $rubicBold;
                }
                td{
                    font-family: $rubicRegular;
                }
                tr:nth-child(even) {
                    background-color: #D9D9D9;
                } 
                td.pendek{
                    width: 2cm;
                }
            }
        }
    }
    section#pendaftaran-whatsapp{
        width: 100%;
        margin-top: 2cm;
        margin-bottom: 2cm;
        @media only screen and (max-width: 512px) {
            @include flexcolumncenter();
        }
        .title{
            margin: 2cm;
            width: 33%;
            @media (max-width: 820px) {
                width: 77%;
                font-size: 30px;
                margin: 1cm;
            }
            @media only screen and (max-width: 512px) {
                width: 70%;
                margin: 0px;
                padding-left: .3cm;
                align-self: start;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media only screen and (max-width: 512px) {
                    font-size: 25px;
                }
            }
        }
        .content{
            width: 100%;
            @include flexcolumncenter();
            @media only screen and (max-width: 512px) {
                width: 95%;
                overflow-x: scroll;
                margin-top: 1cm;
            }
            table{
                border-collapse: collapse;
                border-spacing: 0;
                width: 92%;
                border: 1px solid #ddd;
                th, td {
                    text-align: left;
                    padding: 16px;
                    border: 1px solid black;
                    img{
                        width: 1cm;
                    }
                }
                th{
                    font-family: $rubicBold;
                }
                td{
                    font-family: $rubicRegular;
                }
                tr:nth-child(even) {
                    background-color: #D9D9D9;
                } 
                td.pendek{
                    width: 2cm;
                }
                td.gambar{
                    text-align: center;
                }
            }
            .whatsapp{
                width: 92%;
                height: 10cm;
                border: 1px solid black;
                margin-top: 2cm;
                text-align: center;
                background-color: #D9D9D9;
                @media only screen and (max-width: 512px) {
                    width: 12cm;
                    height: 14cm;
                }
                .title-content{
                    background-color: $biru;
                    padding: 1cm;
                    h1.text{
                        color: white;
                        font-family: $rubicBold;
                        font-size: 30px;
                        span.orange{
                            color: $orange;
                        }
                        @media only screen and (max-width: 512px) {
                            font-size: 25px;
                        }
                    }
                }
                p.desc{
                    margin-top: 1cm;
                    font-family: $rubicRegular;
                    font-size: 20px;
                    @media only screen and (max-width: 512px) {
                        font-size: 14px;
                    }
                }
                .numbers{
                    margin-top: 1cm;
                    width: 100%;
                    @include flexevenly();
                    .number{
                        width: 30%;
                        background-color: $biru;
                        padding: .5cm;
                        border-radius: 20px;
                        @media only screen and (max-width: 512px) {
                            width: 45%;
                            margin-top: .5cm;
                        }
                        p{
                            color: white;
                            font-family: $rubicSemibold;
                            font-size: 20px;
                            @media only screen and (max-width: 512px) {
                                font-size: 14px;
                            }
                        }
                        p.phone-number{
                            margin-top: .5cm;
                        }
                    }
                }
            }
        }
    }
    section#pendaftaran-website{
        width: 100%;
        margin-top: 2cm;
        margin-bottom: 2cm;
        .title{
            margin: 2cm;
            width: 33%;
            @media (max-width: 820px) {
                width: 77%;
                font-size: 30px;
                margin: 1cm;
            }
            @media only screen and (max-width: 512px) {
                margin: 0px;
                margin-left: .3cm;
                width: 90%;
                margin-bottom: 1cm;
            }
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
                @media only screen and (max-width: 512px) {
                    font-size: 25px;
                }
            }
        }
        .content{
            width: 100%;
            @include flexcolumncenter();
            form{
                width: 70%;
                border: 1px solid black;
                border-radius: 20px;
                @include flexcolumncenter();
                padding-bottom: 2cm;
                @media (max-width: 820px) {
                    width: 90%;
                }
                @media only screen and (max-width: 512px) {
                    width: 95%;
                }
                .title-form{
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid black;
                    padding: 1cm;
                    h1.text{
                        font-family: $rubicBold;
                    }
                }
                .input-group{
                    width: 80%;
                    margin-top: 1cm;
                    @media only screen and (max-width: 512px) {
                        width: 95%;
                        margin-top: .5cm;
                    }
                    label{
                        font-family: $rubicRegular;
                        margin-left: .5cm;
                        @media only screen and (max-width: 512px) {
                            margin-left: 0px;
                        }
                    }
                    input{
                        width: 100%;
                        height: 2cm;
                        border-radius: 40px;
                        border: 2px solid $biru;
                        margin-top: .5cm;
                        padding-left: .5cm;
                        @media only screen and (max-width: 512px) {
                            height: 1.5cm;
                        }
                    }
                    select{
                        width: 100% !important;
                        height: 2cm !important;
                        border-radius: 40px !important;
                        border: 2px solid $biru !important;
                        margin-top: .5cm !important;
                        padding-left: .5cm !important;
                        @media only screen and (max-width: 512px) {
                            height: 1.5cm !important;
                        }
                        option{
                            font-family: $rubicRegular !important;
                            font-size: 20px !important;
                        }
                    }
                }
                .checkbox{
                    width: 80%;
                    @include flexspacebetween();
                    margin-top: 1cm;
                    input{
                        width: 5%;
                        &{
                            transform: scale(3);
                            background-color: #D9D9D9;
                            @media only screen and (max-width: 512px) {
                                transform: scale(2);
                            }
                        }
                    }
                    p.desc{
                        width: 90%;
                        font-family: $rubicRegular;
                        color: $biru;
                        font-size: 20px;
                        @media only screen and (max-width: 512px) {
                            font-size: 14px;
                        }
                    }
                }
                button{
                    width: 80%;
                    height: 2cm;
                    border-radius: 40px;
                    background-color: $biru;
                    color: white;
                    font-family: $rubicBold;
                    font-size: 30px;
                    margin-top: 1cm;
                    @media only screen and (max-width: 512px) {
                        font-size: 15px;
                        height: 1.2cm;
                        width: 50%;
                    }
                }
            }
        }
    }
    section#login{
        width: 100%;
        margin-top: 2cm;
        margin-bottom: 2cm;
        .title{
            margin: 2cm;
            width: 19.5%;
            h1{
                font-family: $rubicBold;
                color: $biru;
                font-size: 40px;
                border-bottom: 3px solid $biru;
            }
        }
        .content{
            width: 100%;
            @include flexcolumncenter();
            .title-form{
                @include flexevenly();
            }
            form{
                width: 70%;
                border: 1px solid black;
                border-radius: 20px;
                @include flexcolumncenter();
                padding-bottom: 2cm;
                .title-form{
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid black;
                    padding: 1cm;
                    h1.text{
                        font-family: $rubicBold;
                    }
                }
                .input-group{
                    width: 80%;
                    margin-top: 1cm;
                    label{
                        font-family: $rubicRegular;
                        margin-left: .5cm;
                    }
                    input{
                        width: 100%;
                        height: 2cm;
                        border-radius: 40px;
                        border: 2px solid $biru;
                        margin-top: .5cm;
                    }
                    a.forgot{
                        float: right;
                        color: #0C1FC7;                        ;
                        text-decoration: none;
                        font-family: $rubicRegular;
                        font-size: 20px;
                    }
                }
                button{
                    width: 80%;
                    height: 2cm;
                    border-radius: 30px;
                    background-color: $biru;
                    color: white;
                    font-family: $rubicBold;
                    font-size: 30px;
                    margin-top: 1cm;
                }
            }
        }
    }
}
footer{
    background-color: $biru;
    @include flexevenly();
    padding-top: 3cm;
    div{
        display: flex;
        flex-direction: column;
        height: 7cm;
        h1{
            color: white;
            font-family: $rubicBold;
        }
        a{
            margin-top: .4cm;
            font-family: $rubicLight;
            color: white;
            text-decoration: none;

        }
    }
}
.display-block{
    display: block !important;
}
.select2-selection__rendered {
    line-height: 2cm !important;
}
.select2-container .select2-selection--single {
    height: 2cm !important;
    border: 2px solid $biru !important;
    border-radius: 40px !important;
    outline: none;
    overflow: hidden;
    width: 100% !important;
    @media only screen and (max-width: 512px) {
        height: 1.5cm !important;
    }
}
.select2-selection__arrow {
    height: 2cm !important;
    border: 2px solid $biru !important;
    border-radius: 40px !important;
    outline: none;
    overflow: hidden;
    width: 100% !important;
    @media only screen and (max-width: 512px) {
        height: 1.5cm !important;
    }
}